<button (click)="sortByAsccending()">正序排列</button>
<button (click)="sortByDesccending()">倒序排列</button>
<button (click)="sortByRadom()">随机打乱</button>
<button (click)="deleteLast()">删除最后一个</button>
<button (click)="saveNewUser()">新增一个</button>
<table>
  <tbody>
    <tr>
      <th>ID </th>
      <th>名称 </th>
      <th>规格 </th>
      <th>价格 </th>
      <th>剩余数量 </th>
      <th>产地 </th>
      <th>保质期 </th>
      <th>生产日期 </th>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.index}}</td>
      <td>{{user.name}}</td>
      <td>{{user.spec}}</td>
      <td>{{user.price}} </td>
      <td>{{user.num}}</td>
      <td>{{user.Place}}</td>
      <td>{{user.timelimit}}</td>
      <td>{{user.P_date}}</td>
    </tr>
  </tbody>
</table>
